Source: clutter
Section: libs
Priority: optional
Maintainer: Arthur Demchenkov <spinal.by@gmail.com>
Build-Depends:
 debhelper (>= 10),
 libxcomposite-dev,
 libxdamage-dev,
 libxi-dev,
 libgdk-pixbuf2.0-dev,
 libpango1.0-dev,
 libgl1-mesa-dev,
 libgles2-mesa-dev,
Standards-Version: 4.3.0

Package: libclutter-0.8-0
Section: libs
Architecture: any
Multi-arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libgl1-mesa-glx [!armel !armhf],
 libgles2-mesa [armel armhf],
Description: Open GL based interactive canvas library
 Clutter is an Open GL based interactive canvas library, designed for creating
 fast, mainly 2D single window applications such as media box UIs,
 presentations, kiosk style applications and so on.

Package: libclutter-0.8-dev
Section: libdevel
Architecture: any
Multi-arch: same
Depends:
 ${misc:Depends},
 libclutter-0.8-0 (= ${source:Version}),
 pkg-config,
 libxcomposite-dev,
 libxdamage-dev,
 libxi-dev,
 libgdk-pixbuf2.0-dev,
 libpango1.0-dev,
 libgl1-mesa-dev,
 libgles2-mesa-dev,
Description: Open GL based interactive canvas library (development files)
 Clutter is an Open GL based interactive canvas library, designed for creating
 fast, mainly 2D single window applications such as media box UIs,
 presentations, kiosk style applications and so on.
 .
 This package contains the development files.
